h3{
  text-align: center;
  color: #f0642c;
}

a{
  color: white;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 5px;
  display: block;
  width: fit-content;
}

.menu-cat{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
