h3 {
  text-align: center;
  color: #f0642c;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 15px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 5px;
  display: block;
  width: fit-content;
}

.menu-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
}

.menu-content {
  color: white;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 10px;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.menu-content ul li {
  margin: 15px 3px;
  display: flex;
  justify-content: space-between;
}

.menu-cat a.active {
  color: #f0642c;
}

.menu-content span {
  text-align: right;
  display: block;
}

hr{
  border: 1px solid #f0642c;
  margin: 30px 0;
}

.menu-content h3{
  margin: 15px 0;
}

.details-drink{
  font-size: 11px;
  margin: 0 3px !important;
}

.drink li{
  margin-bottom: 0 !important;
}